[Unit]
Description=AT UART Command MQTT Client/Daemon
Documentation=https://github.com/pikciu/uarttomqtt
After=network.target mosquitto.service multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/opt/uarttomqtt/
ExecStart=/usr/bin/python3 /opt/uarttomqtt/uarttomqtt.py
Restart=always

[Install]
WantedBy=multi-user.target